 predicting turbine energy yield (TEY) using ambient variables as features.

In [1]:
import tensorflow  as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.layers import Dense

In [2]:
data = pd.read_csv('gas_turbines.csv')

In [3]:
data.head()

       AT      AP      AH    AFDP  ...     TEY     CDP      CO     NOX
0  6.8594  1007.9  96.799  3.5000  ...  114.70  10.605  3.1547  82.722
1  6.7850  1008.4  97.118  3.4998  ...  114.72  10.598  3.2363  82.776
2  6.8977  1008.8  95.939  3.4824  ...  114.71  10.601  3.2012  82.468
3  7.0569  1009.2  95.249  3.4805  ...  114.72  10.606  3.1923  82.670
4  7.3978  1009.7  95.150  3.4976  ...  114.72  10.612  3.2484  82.311

[5 rows x 11 columns]

In [4]:
data.shape

(15039, 11)

In [5]:
#ambient_features
x= data[['AT','AP','AH']]

In [6]:
x.head()

       AT      AP      AH
0  6.8594  1007.9  96.799
1  6.7850  1008.4  97.118
2  6.8977  1008.8  95.939
3  7.0569  1009.2  95.249
4  7.3978  1009.7  95.150

In [7]:
y = data[['TEY']]

In [8]:
y.head()

      TEY
0  114.70
1  114.72
2  114.71
3  114.72
4  114.72

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train, x_test,y_train,y_test = train_test_split(x,y, test_size=0.2,random_state=40)

In [11]:
# create model
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(5, input_dim=3, activation='relu'))
model.add(tf.keras.layers.Dense(4,  activation='relu'))
model.add(tf.keras.layers.Dense(1, activation='relu'))

In [12]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 5)                 20
_________________________________________________________________
dense_1 (Dense)              (None, 4)                 24
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 5
=================================================================
Total params: 49
Trainable params: 49
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile model
model.compile(loss='binary_crossentropy', optimizer='adam')

In [14]:
# Fit the model
history=model.fit(x_train, y_train, validation_split=0.20, epochs=50, batch_size=10)

Epoch 1/50
963/963 [==============================] - 2s 2ms/step - loss: -2032.0704 - val_loss: -2030.4050
Epoch 2/50
963/963 [==============================] - 1s 2ms/step - loss: -2032.0701 - val_loss: -2030.4050
Epoch 3/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0707 - val_loss: -2030.4050
Epoch 4/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0701 - val_loss: -2030.4050
Epoch 5/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0710 - val_loss: -2030.4050
Epoch 6/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0702 - val_loss: -2030.4050
Epoch 7/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0709 - val_loss: -2030.4050
Epoch 8/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0730 - val_loss: -2030.4050
Epoch 9/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0717 - val_loss: -2030.4050
Epoch 10/50
963/963 [==============================] - 1s 2ms/step - loss: -2032.0695 - val_loss: -2030.4050
Epoch 11/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0709 - val_loss: -2030.4050
Epoch 12/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0713 - val_loss: -2030.4050
Epoch 13/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0723 - val_loss: -2030.4050
Epoch 14/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0709 - val_loss: -2030.4050
Epoch 15/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0713 - val_loss: -2030.4050
Epoch 16/50
963/963 [==============================] - 1s 2ms/step - loss: -2032.0702 - val_loss: -2030.4050
Epoch 17/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0704 - val_loss: -2030.4050
Epoch 18/50
963/963 [==============================] - 1s 2ms/step - loss: -2032.0719 - val_loss: -2030.4050
Epoch 19/50
963/963 [==============================] - 1s 2ms/step - loss: -2032.0710 - val_loss: -2030.4050
Epoch 20/50
963/963 [==============================] - 1s 2ms/step - loss: -2032.0725 - val_loss: -2030.4050
Epoch 21/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0707 - val_loss: -2030.4050
Epoch 22/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0707 - val_loss: -2030.4050
Epoch 23/50
963/963 [==============================] - 1s 2ms/step - loss: -2032.0715 - val_loss: -2030.4050
Epoch 24/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0713 - val_loss: -2030.4050
Epoch 25/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0709 - val_loss: -2030.4050
Epoch 26/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0701 - val_loss: -2030.4050
Epoch 27/50
963/963 [==============================] - 1s 2ms/step - loss: -2032.0702 - val_loss: -2030.4050
Epoch 28/50
963/963 [==============================] - 1s 2ms/step - loss: -2032.0696 - val_loss: -2030.4050
Epoch 29/50
963/963 [==============================] - 1s 2ms/step - loss: -2032.0715 - val_loss: -2030.4050
Epoch 30/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0702 - val_loss: -2030.4050
Epoch 31/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0709 - val_loss: -2030.4050
Epoch 32/50
963/963 [==============================] - 1s 2ms/step - loss: -2032.0702 - val_loss: -2030.4050
Epoch 33/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0709 - val_loss: -2030.4050
Epoch 34/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0709 - val_loss: -2030.4050
Epoch 35/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0707 - val_loss: -2030.4050
Epoch 36/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0717 - val_loss: -2030.4050
Epoch 37/50
963/963 [==============================] - 1s 2ms/step - loss: -2032.0704 - val_loss: -2030.4050
Epoch 38/50
963/963 [==============================] - 1s 2ms/step - loss: -2032.0702 - val_loss: -2030.4050
Epoch 39/50
963/963 [==============================] - 1s 2ms/step - loss: -2032.0698 - val_loss: -2030.4050
Epoch 40/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0704 - val_loss: -2030.4050
Epoch 41/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0701 - val_loss: -2030.4050
Epoch 42/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0707 - val_loss: -2030.4050
Epoch 43/50
963/963 [==============================] - 1s 2ms/step - loss: -2032.0710 - val_loss: -2030.4050
Epoch 44/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0707 - val_loss: -2030.4050
Epoch 45/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0692 - val_loss: -2030.4050
Epoch 46/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0698 - val_loss: -2030.4050
Epoch 47/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0690 - val_loss: -2030.4050
Epoch 48/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0698 - val_loss: -2030.4050
Epoch 49/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0707 - val_loss: -2030.4050
Epoch 50/50
963/963 [==============================] - 1s 1ms/step - loss: -2032.0701 - val_loss: -2030.4050

In [15]:
p =model.predict(x_test)

In [16]:
from sklearn.metrics import  mean_squared_error

In [17]:
mean_squared_error(y_test,p)

3058.027528231539

In [18]:
np.sqrt(mean_squared_error(y_true=y_test,y_pred=p))

55.29943515291579